<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
<head>
  <title>BSC - Quotation Forms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="panel list-group">
     <a href="#" class="list-group-item" data-toggle="collapse" data-target="#form-sheds" >Shed Form</a>
      <div id="form-sheds" class="sublinks collapse"></div>
     <a href="#" class="list-group-item" data-toggle="collapse" data-target="#form-verandas" >Veranda Form</a>
      <div id="form-verandas" class="sublinks collapse"></div>
     <a href="#" class="list-group-item" data-toggle="collapse" data-target="#form-fences" >Fences Form</a>
      <div id="form-fences" class="sublinks collapse" ></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/addforms.js"></script>
  </body>
</html>
